pipeline/pl_order_items_landing_to_raw.json
{
	"name": "pl_order_items_landing_to_raw",
	"properties": {
		"activities": [
			{
				"name": "Copy_Order_Items_Landing_to_Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRawFolderPsath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_landing_order_items",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_order_items",
						"type": "DatasetReference",
						"parameters": {
							"pDayWiseFolderPath": {
								"value": "@variables('vFolderPathForrawContainer')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_Stores_Landing_to_Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRawFolderPsath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_landing_stores",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_stores",
						"type": "DatasetReference",
						"parameters": {
							"pDayWiseFolderPath": {
								"value": "@variables('vFolderPathForrawContainer')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_Customers_Landing_to_Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRawFolderPsath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_landing_customers",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_customers",
						"type": "DatasetReference",
						"parameters": {
							"pDayWiseFolderPath": {
								"value": "@variables('vFolderPathForrawContainer')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "copy_orders_landing_to_raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRawFolderPsath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "ParquetSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "ParquetReadSettings"
						}
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "ParquetWriteSettings"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "ds_landing_orders",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_orders",
						"type": "DatasetReference",
						"parameters": {
							"pDayWiseFolderPath": {
								"value": "@variables('vFolderPathForrawContainer')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Copy_Products_Landing_to_Raw",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "SetRawFolderPsath",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.00:11:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"sink": {
						"type": "JsonSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "JsonWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "ds_landing_products",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "ds_raw_products",
						"type": "DatasetReference",
						"parameters": {
							"pDayWiseFolderPath": {
								"value": "@variables('vFolderPathForrawContainer')",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "SetRawFolderPsath",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "vFolderPathForrawContainer",
					"value": {
						"value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"vFolderPathForrawContainer": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2023-08-24T11:01:47Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}